$height: 23px;

$placeholder-color: #999999;

.dh-select {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  color: #666666;
  width: 100%;
  &-selection {
    outline: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    display: block;
    // height: $height;
    // padding: 2px 0;
    line-height: 1.33;
    border-bottom: 1px solid #e6e6e6;
    &--single {
      position: relative;
      cursor: pointer;
    }
    &__placeholder {
      color: $placeholder-color;
      font-size: 12px;
    }
  }
  &-selection-selected-value {
    position: relative;
    font-size: 12px;
    color: $placeholder-color;
  }

  &-arrow {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: end;
    b {
      font-size: 12px;
      position: relative;
      font-family:"dhfont" !important;
      display: inline-block;
      line-height: 23px;
      &:after {
        content: "\e63e",
      }
    }
  }
  &-open {
    .dh-select-arrow {
      b {
        transform: rotate(180deg);
        transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
    }
  }
  &-selection__rendered {
    display: block;
    position: relative;
    padding: 4px 0;
  }
  // tags 标签多选
  &-selection--multiple {
    .dh-select-selection__rendered {
    }
    .dh-select-selection__choice {
      background-color: #f3f3f3;
      border-radius: 3px;
      cursor: default;
      float: left;
      max-width: 99%;
      position: relative;
      overflow: hidden;
      -webkit-transition: padding .3s cubic-bezier(.645,.045,.355,1);
      transition: padding .3s cubic-bezier(.645,.045,.355,1);
      padding: 0 20px 0 10px;
      &__content {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        -webkit-transition: margin .3s cubic-bezier(.645,.045,.355,1);
        transition: margin .3s cubic-bezier(.645,.045,.355,1);
      }
      &__remove {
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        line-height: 1;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: rgba(0,0,0,.43);
        line-height: inherit;
        cursor: pointer;
        font-weight: 700;
        -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        display: inline-block;
        font-size: 12px;
        font-size: 8px\9;
        -webkit-transform: scale(.66666667) rotate(0deg);
        -ms-transform: scale(.66666667) rotate(0deg);
        transform: scale(.66666667) rotate(0deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
        zoom: 1;
        position: absolute;
        right: 4px;
        padding: 0 0 0 8px;
        &:before {
          content: "";
          display: block;
          font-family: dhfont!important;
        }
      }
    }
    .dh-select-search--inline {
      float: left;
      position: static;
      .dh-select--search__field__{
        width: .75em;
      }
    }

  }
}
.dh-select-search {
  &--inline {
    .dh-select-search__field__warp {
      width: 100%;
      height: 100%;
    }
    .dh-select-search__field{
      border: 0;
      font-size: 100%;
      height: 100%;
      width: 100%;
      background: transparent;
      outline: 0;
      border-radius: 4px;
    }
  }
}
.dh-select-dropdown {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 4px 0 rgba(31,56,88,.15);
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 1070;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: 0;
  &-hidden {
    display: none;
  }
  &-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    max-height: 250px;
    overflow: auto;
    &-item {
      position: relative;
      display: block;
      padding: 7px 16px;
      font-weight: 400;
      color: #666666;
      white-space: nowrap;
      cursor: pointer;
      overflow: hidden;
      -webkit-transition: background .3s ease;
      transition: background .3s ease;
      &-selected {
        color: #39b68e;
      }
      &-active {
        background-color: #f6f6f6;
        color: #333333;
      }
    }
  }
}
