html, body{
    font-family: 'Roboto', sans-serif;
}
#root {
  height: 100%;
  .ant-layout {
    height: 100%;
  }
  .ant-layout-sider {
    li {
      a {
        font-size: 18px;
        color: #e6e6e6;
        small {
          color: #939393;
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
  }
  .logo {
      height: 32px;
      background: #333;
      border-radius: 6px;
      margin: 16px;
      color: #fff;
      line-height: 32px;
      text-align: center;
      font-size: 16px;
  }

  .test-icon {
    .test-icon-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-around;
      .test-icon-item {
        width: 160px;
        height: 64px;
        margin: 12px 10px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: #50d27c;
        }
        span {
          font-size: 26px;
        }
      }
    }
  }
  .test-list {
    padding: 0px 40px;
    .test-list-item {
      margin-bottom: 20px;
    }
  }
}
.tooltip-test {
   width: 400px;
   height: 200px;
  position: relative;
  &-left {
    position: absolute;
    top: 35px;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  &-top {
    position: absolute;
    top: 0;
    left: 100px;
  }
  &-right {
    position: absolute;
     top: 35px;
     right: 0;
     display: flex;
     flex-direction: column;
  }
  &-bottom {
    position: absolute;
     bottom: 0;
     left: 100px;
  }
}
