html, body{
    font-family: 'Roboto', sans-serif;
}
#root {
  height: 100%;
  .ant-layout {
    height: 100%;
  }
  .logo {
      height: 32px;
      background: #333;
      border-radius: 6px;
      margin: 16px;
      color: #fff;
      line-height: 32px;
      text-align: center;
      font-size: 16px;
  }
  .test-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    .test-icon-item {
      width: 160px;
      height: 64px;
      margin: 12px 10px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #50d27c;
      }
      span {
        font-size: 26px;
      }
    }
  }
}
