html, body{
    font-family: 'Roboto', sans-serif;
}
#root {
  height: 100%;
  .ant-layout {
    height: 100%;
  }
  .logo {
      height: 32px;
      background: #333;
      border-radius: 6px;
      margin: 16px;
      color: #fff;
      line-height: 32px;
      text-align: center;
      font-size: 16px;
  }
}
.dh-marked {
  background-color: #f3f3f3;
  padding: 8px;
  h2, h3 {
    color: #000;
  }
}