.dh-checkbox {
  display: inline-block;
  margin-right: 32px;
  color: #999;
  &:last-child {
    margin-right: 0;
  }
  cursor: pointer;
  i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: red;
    margin-right: 12px;
    position: relative;
    top: 3px;
  }
  &.dh-checkbox-checked {
    i {
      background: green;
    }
  }
}