/* 配置 参数 */
$message-fontSize: 12px;
$message-padding: 12px;
$message-noticeMarginBottom: 8px;
$message-background: #ffffff;
$message-titleColor: #999999;
$message-fontColor: #999999;
$fontTyps: (success: #39b86e, error: #f04134, warning: #ffbf00);

.dh-message {
  position: fixed;
  top: 3%;
  z-index: 99999;
  &-notice {
    position: relative;
    margin-bottom: $message-noticeMarginBottom;
  }
  &-container {
    position: relative;
    padding: $message-padding;
    border-radius: 4px;
    background-color: $message-background;
    font-size: $message-fontSize;
    color: $message-fontColor;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .dh-message-icon {
      position: absolute;
      margin-top: 2px;
      i {
        font-size: 14px;
      }
    }
    .dh-message-title {
      margin-left: 4px;
      color: $message-titleColor;
    }
    .dh-message-desc {
      margin-left: 18px;

    }

    @each $key, $value in $fontTyps {
      .dh-message-#{$key} {
        color: $value;
      }
    }
  }
}
