// 模态框- mask
$modal-mask-backgroundColor: rgba(0, 0, 0, 0.4);

$modal-backgroundColor: #ffffff;
$modal-borderRadius: 0;
$modal-padding: 10px 0;

// 模态框-close
$modal-close-top: 10px;
$modal-close-right: 20px;
$modal-close-fontSize: 18px;

$modal-close-x-width: 30px;
$modal-close-x-height: 30px;
$modal-close-x-fontSize: 18px;

$modal-header-padding: 0 20px;
$modal-title-height: 30px;
$modal-title-fontSize: 14px;
$modal-title-color: #666666;

$modal-title-maxWidth: 94%;
// 模态框-body
$modal-body-padding: 10px 20px;
$modal-body-fontColor: #666666;
$modal-body-fontSize: 12px;
$modal-body-backgroundColor: transparent;

// 模态框-footer
$modal-footer-padding: 0 20px;
$modal-footer-fontSize: 12px;
$modal-footer-color: #23C132;

$modal-footer-btn-width: 60px;
$modal-footer-btn-height: 30px;
$modal-footer-btn-hover-color: #e9f8ea;
.dh-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: $modal-mask-backgroundColor;
    height: 100%;
    &-hidden {
      display: none;
    }
}

.dh-modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
    display: flex;
    align-items: center;
}

.dh-modal {
    position: relative;
    margin: 0 auto;
    background-color: $modal-backgroundColor;
    border-radius: $modal-borderRadius;
    padding: $modal-padding;
    &-close {
        cursor: pointer;
        border: 0;
        background: transparent;
        position: absolute;
        right: $modal-close-right;
        top: $modal-close-top;
        z-index: 10;
        text-decoration: none;
        transition: color 0.3s ease;
        outline: 0;
        &-x {
            height: $modal-close-x-height;
            width: $modal-close-x-width;
            display: block;
            font-style: normal;
            font-family: dhfont;
            font-size: $modal-close-x-fontSize;
            vertical-align: baseline;
            text-align: right;
            text-transform: none;
            text-rendering: auto;
            line-height: $modal-close-x-height;
            &:before {
                content: "\e7dc";
                display: block;
            }
        }
    }

    &-header {
      padding: $modal-header-padding;
    }
    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: $modal-title-maxWidth;
      height: $modal-title-height;
      line-height: $modal-title-height;
      color: $modal-title-color;
      font-size: $modal-title-fontSize;
    }
    &-body {
      position: relative;
      width: 100%;
      height: auto;
      padding: $modal-body-padding;
    }
    &-footer {
      padding: $modal-footer-padding;
      font-size: $modal-footer-fontSize;
      text-align: right;
      &_btn {
        width: $modal-footer-btn-width;
        height: $modal-footer-btn-height;
        color: $modal-footer-color;
        outline: none;
        white-space: nowrap;
        text-align: center;
        background-image: none;
        cursor: pointer;
        user-select: none;
        border: none;
        background: none;
        &:hover {
          background: $modal-footer-btn-hover-color;
        }
      }
    }
}
