// 模态框- mask
$modal-mask-backgroundColor: rgba(0,0,0,.4);
$modal-content-backgroundColor: #ffffff;
$modal-borderRadius: 0px;

// 模态框-标题
$modal-title-fontColor: #666666;
$modal-title-fontSize: 14px;
$modal-smTitle-fontColor: #aaaaaa;
$modal-smTitle-fontSize: 12px;
$mdoal-title-padding: 24px;

// 模态框-close
$modal-close-position: 24px;
$modal-close-fontSize: 18px;
$modal-close-fontFamily: dhfont;

// 模态框-body
$modal-body-padding: 24px;
$modal-body-fontColor: #666666;
$modal-body-fontSize: 12px;
$modal-body-backgroundColor: transparent;

// 模态框-footer
$modal-footer-padding: 24px;
$modal-footer-buttonLeft: 24px;

@mixin maskStyle {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.dh-modal-mask {
    @include maskStyle;
    background-color: $modal-mask-backgroundColor;
    height: 100%;
    &-hidden {
      display: none;
    }
}

.dh-modal-wrap {
    @include maskStyle;
    overflow: auto;
    outline: 0;
    display: flex;
    align-items: center;
}

.dh-modal {
    position: relative;
    margin: 0 auto;
    background-color: $modal-content-backgroundColor;
    border-radius: $modal-borderRadius;

    &-close {
        cursor: pointer;
        border: 0;
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        text-decoration: none;
        transition: color 0.3s ease;
        outline: 0;
        &-x {
            height: 64px;
            width: 64px;
            display: block;
            font-style: normal;
            font-family: $modal-close-fontFamily;
            font-size: 18px;
            vertical-align: baseline;
            text-align: center;
            text-transform: none;
            text-rendering: auto;
            line-height: 64px;
            &:before {
                content: "\e7dc";
                display: block;
            }
        }
    }

    &-header {
			padding: 24px;
			color: rgba(0,0,0,.65);
    }
    &-title {
     	color: #666666;
			font-size: 14px;
			&__desc {
				font-size: 12px;
				color: #aaaaaa;
			}
    }
    &-body {
      padding: 0 24px;
			background: transparent;
    }
    &-footer {
        padding:  24px;
        text-align: right;
        button {
          margin-left: $modal-footer-buttonLeft;
        }
			.dh-modal-footer-wapper {
				.dh-modal-footer__btn {
					cursor: pointer;
					display: inline-block;
					background-color: transparent;
					font-size: 14px;
					padding: 8px 16px;
					text-align: center;
					color: #50d27c;
					margin-left: 8px;
					border-radius: 24px;
					&:hover {
						background-color: #f7f7f7;
					}
				}
			}
    }
}
