@mixin keyframes_inline_start {
  -webkit-animation: keyframes_inline_start 1s cubic-bezier(0.23, 1, 0.32, 1) .1s forwards;
  animation: keyframes_inline_start 1s cubic-bezier(0.23, 1, 0.32, 1) .1s forwards;
}

.dh-steps {
  width: 100%;
  display: flex;

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-step {
    // 前缀
    //
    padding: 0 8px;
  }
  &-head {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    position: relative;
    &-inner {
      display: inline-block;
      width: 100%;
      height: inherit;
      background-color: #50d27c;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      border-radius: 50%;
      &-finish {
        display: inline-block;
        width: 100%;
        height: inherit;
        background-color: #50d27c;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        border-radius: 50%
      }
    }
  }
  &-main {
    display: inline-block;
    margin-left: 6px;
    font-size: 14px;
    &-title {
      &-finish {
        
      }
    }
  }
  //尾部条
  &-tail {
    flex: 1;
    height: 4px;
    background: #e9e9e9;
    position: relative;
    &__inline {
      width: 0;
      height: 100%;
      background-color: #50d27c;
      &[data-slide="true"] {
        @include keyframes_inline_start;
      }
    }

  }
}
