/* dropdown 颜色配置 */
$dropdown-borderBottomColor: #e6e6e6;
$dropdown-titleColor: #999999;
$dropdown-iconColor: #cccccc;
$dropdown-itemColor: #666666;
$dropdown-itemHoverColor: #333333;
$dropdown-itemHoverBackgroundColor: #f6f6f6;
$dropdown-itemCheckColor: #39b86e;
$dropdown-backgroundColor: #ffffff;
$dropdown-fontSize: 12px;

@-webkit-keyframes fadeInLeft{
0%{opacity:0;
-webkit-transform:translateX(-20px)}
100%{opacity:1;
-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeft{
0%{opacity:0;
-moz-transform:translateX(-20px)}
100%{opacity:1;
-moz-transform:translateX(0)}
}

.dh-dropdown {
   position: absolute;
   background-color: $dropdown-backgroundColor;
   z-index: 1050;
   &-hidden {
     display: none;
   }
   &-event {
     cursor: pointer;
   }
   &-menu {
     box-shadow: 7px 6px 15px rgba(0,0,0,.15);
     outline: 0;
     &-item {
       padding: 8px 16px;
       color: $dropdown-itemColor;
       font-size: $dropdown-fontSize;
       cursor: pointer;
       white-space: nowrap;
       &>a {
         color: $dropdown-itemColor;
         &:hover {
            color: $dropdown-itemHoverColor;
         }
       }
       &-divider {
         height: 1px;
         overflow: hidden;
         background-color: #e9e9e9;
         line-height: 0;
       }
       &-active {
         color: $dropdown-itemHoverColor;
         background-color: $dropdown-itemHoverBackgroundColor;
      }
      &-selected {
        color: $dropdown-itemCheckColor;
        &>a {
          color: $dropdown-itemCheckColor;
        }
      }
     }
     &-hidden {
       display: none;
     }
     &-sub {
         position: absolute;
         left: 100%;
         top: 0;
         margin-left: 1px;
         background: #fff;
         -webkit-animation:fadeInLeft .2s .2s ease both;
         -moz-animation:fadeInLeft .2s .2s ease both;
     }
     &-submenu {
       &-vertical {
         position: relative;
       }
       &-title {
         padding: 8px 16px;
         color: $dropdown-itemColor;
         font-size: $dropdown-fontSize;
         cursor: pointer;
         white-space: nowrap;
         &:hover {
             color: $dropdown-itemHoverColor;
             background-color: $dropdown-itemHoverBackgroundColor;
           }
         &:after {
           font-family: dhfont !important;
           position: absolute;
           content: '\e621';
           right: 8px;
           color: $dropdown-itemColor;
           display: inline-block;
           font-size: $dropdown-fontSize;
         }
       }
     }
   }
}
