/* dropdown 颜色配置 */
$dropdown-borderBottomColor: #e6e6e6;
$dropdown-titleColor: #999999;
$dropdown-iconColor: #cccccc;
$dropdown-itemColor: #666666;
$dropdown-itemHoverColor: #333333;
$dropdown-itemHoverBackgroundColor: #f6f6f6;
$dropdown-itemCheckColor: #39b86e;
$dropdown-backgroundColor: #ffffff;

.dh-dropdown {
   position: absolute;
   background-color: $dropdown-backgroundColor;
   &-hidden {
     display: none;
   }
   &-event {
     cursor: pointer;
   }
   &-menu {
     box-shadow: 7px 6px 15px rgba(0,0,0,.15);
     outline: 0;
     &-item {
       line-height: 32px;
       padding: 0 8px;
       color: $dropdown-itemColor;
       font-size: 12px;
       cursor: pointer;
       &:hover {
           color: $dropdown-itemHoverColor;
           background-color: $dropdown-itemHoverBackgroundColor;
         }
     }
   }
}
