$tooltip-color: #ffffff;
$tooltip-arrawSize: 6px;
@mixin arrow {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(31,56,88,.2);
  background-color: #fff;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  box-shadow: 0 1px 4px 0 rgba(31,56,88,.15);
}

.dh-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1050;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  &-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(31,56,88,.2);
    background-color: #fff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    box-shadow: 0 1px 4px 0 rgba(31,56,88,.15);
  }
  &-content {
    background-color: $tooltip-color;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(31,56,88,.15);
  }
  &-hidden {
    display: none;
  }
  &-inner {
    position: relative;
    z-index: 2;
    padding: 6px 16px;
    color: #666666;
    text-align: center;
    color: rgba(31,56,88,.8);
    text-decoration: none;
    border-radius: 3px;
    background-color: #fff;
  }
  &-placement {
    &-left, &-leftBottom, &-leftTop {
      margin-left: -3px;
      padding: 0 6px;
      .dh-tooltip-arrow {
        right: 2px;
      }
    }
    &-leftTop .dh-tooltip-arrow {
       top: 8px;
    }
    &-left .dh-tooltip-arrow {
       top: 50%;
       margin-top: -4px;
    }
    &-leftBottom .dh-tooltip-arrow {
      bottom: 8px;
    }


    &-right, &-rightBottom, &-rightTop {
      margin-left: 3px;
      padding: 0 6px;
      .dh-tooltip-arrow {
        left: 2px;
      }
    }
    &-rightTop .dh-tooltip-arrow {
      top: 8px;
    }
    &-right .dh-tooltip-arrow {
      top: 50%;
      margin-top: -4px;
    }
    &-rightBottom .dh-tooltip-arrow {
      bottom: 8px;
    }



    &-top, &-topLeft, &-topRight {
      margin-top: -3px;
      padding: 6px 0;
      .dh-tooltip-arrow {
        bottom: 2px;
      }
    }
    &-top .dh-tooltip-arrow {
      left: 50%;
      margin-left: -6px;
    }
    &-topLeft .dh-tooltip-arrow {
      left: 12px;
    }
    &-topRight .dh-tooltip-arrow {
      right: 12px;
    }
    &-bottom, &-bottomLeft, &-bottomRight {
      margin-top: 3px;
      padding: 6px 0;
      .dh-tooltip-arrow {
         top: 2px;
      }
    }
    &-bottomLeft .dh-tooltip-arrow {
       left: 12px;
    }
    &-bottom .dh-tooltip-arrow {
       left: 50%;
       margin-left: -6px;
    }
    &-bottomRight .dh-tooltip-arrow {
       right: 12px;
    }
  }
}
