// 字体库
@font-face {font-family: "dhfont";
  src: url('iconfont.eot?t=1497947376347'); /* IE9*/
  src: url('iconfont.eot?t=1497947376347#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497947376347') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497947376347') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497947376347#dhfont') format('svg'); /* iOS 4.1- */
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content; }
}
/*--缩放--**/
@include keyframes(keyframesScale) {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
 }

/*拉伸*/
@include keyframes(keyframes_inline_start) {
  0%   { width: 0%; }
  100% { width: 100%; }
}
