// 字体库
@font-face {
  font-family: 'dhfont';  /* project id 267870 */
  src: url('//at.alicdn.com/t/font_5fe7sbutcorsh5mi.eot');
  src: url('//at.alicdn.com/t/font_5fe7sbutcorsh5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_5fe7sbutcorsh5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_5fe7sbutcorsh5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_5fe7sbutcorsh5mi.svg#dhfont') format('svg');
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content; }
}
/*--缩放--**/
@include keyframes(keyframesScale) {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
 }

/*拉伸*/
@include keyframes(keyframes_inline_start) {
  0%   { width: 0%; }
  100% { width: 100%; }
}
