.dh-icon {
  font-family:"dhfont" !important;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.dh-icon-list:before { content: "\e600"; }

.dh-icon-refresh:before { content: "\e601"; }

.dh-icon-filter:before { content: "\e69c"; }

.dh-icon-resource:before { content: "\e602"; }

.dh-icon-search:before { content: "\e611"; }

.dh-icon-share:before { content: "\e61a"; }

.dh-icon-wifi:before { content: "\e6f2"; }

.dh-icon-calendar:before { content: "\e62d"; }

.dh-icon-play:before { content: "\e604"; }

.dh-icon-close1:before { content: "\e629"; }

.dh-icon-email:before { content: "\e69f"; }

.dh-icon-add:before { content: "\e6b9"; }

.dh-icon-picture-fill:before { content: "\e72c"; }

.dh-icon-edit:before { content: "\e644"; }

.dh-icon-plus-circle:before { content: "\e7b9"; }

.dh-icon-backward:before { content: "\e74d"; }

.dh-icon-forward:before { content: "\e74e"; }

.dh-icon-user:before { content: "\e61f"; }

.dh-icon-upload:before { content: "\e75d"; }

.dh-icon-minus:before { content: "\e6fe"; }

.dh-icon-destroy:before { content: "\e6db"; }

.dh-icon-ok:before { content: "\e650"; }

.dh-icon-close-circle:before { content: "\e83e"; }

.dh-icon-error:before { content: "\e63f"; }

.dh-icon-store:before { content: "\e7d7"; }

.dh-icon-round-down:before { content: "\e6c9"; }

.dh-icon-round-right:before { content: "\e6cd"; }

.dh-icon-radio-checked:before { content: "\e71f"; }

.dh-icon-radio:before { content: "\e72f"; }

.dh-icon-triup:before { content: "\e646"; }

.dh-icon-calculate:before { content: "\e652"; }

.dh-icon-success:before { content: "\e63c"; }

.dh-icon-key:before { content: "\e65c"; }

.dh-icon-warning:before { content: "\e685"; }

.dh-icon-tridown:before { content: "\e608"; }

.dh-icon-sharp:before { content: "\e726"; }

.dh-icon-table:before { content: "\e606"; }

.dh-icon-round-left:before { content: "\e689"; }

.dh-icon-round-up:before { content: "\e68d"; }

.dh-icon-remove:before { content: "\e755"; }

.dh-icon-picture:before { content: "\e7b7"; }

.dh-icon-home:before { content: "\e6b5"; }

.dh-icon-question-circle-o:before { content: "\e618"; }

.dh-icon-list-circle:before { content: "\e60d"; }

.dh-icon-text:before { content: "\e607"; }

.dh-icon-location:before { content: "\e73a"; }

.dh-icon-point:before { content: "\e675"; }

.dh-icon-exit:before { content: "\e7cb"; }

.dh-icon-preview:before { content: "\e617"; }

.dh-icon-team:before { content: "\e89f"; }

.dh-icon-right:before { content: "\e621"; }

.dh-icon-up:before { content: "\e63d"; }

.dh-icon-down:before { content: "\e63e"; }

.dh-icon-left:before { content: "\e640"; }

.dh-icon-chat-trend:before { content: "\e625"; }

.dh-icon-loading:before { content: "\e648"; }

.dh-icon-setting:before { content: "\e60c"; }

.dh-icon-close:before { content: "\e7dc"; }

.dh-icon-lock:before { content: "\e701"; }

.dh-icon-checkbox:before { content: "\e610"; }

.dh-icon-link:before { content: "\e628"; }

.dh-icon-checkbox-checked:before { content: "\e65a"; }

.dh-icon-change:before { content: "\e620"; }

.dh-icon-date:before { content: "\e7a7"; }

.dh-icon-ok-circle:before { content: "\e8a0"; }

.dh-icon-file:before { content: "\e60a"; }

.dh-icon-Slider:before { content: "\e62a"; }

.dh-icon-link-circle:before { content: "\e615"; }

.dh-icon-plus:before { content: "\e616"; }

.dh-icon-ziyuan:before { content: "\e619"; }

.dh-icon-time-setting:before { content: "\e61b"; }

.dh-icon-ziyuan2:before { content: "\e61c"; }

.dh-icon-link-db:before { content: "\e61d"; }

.dh-icon-ppt:before { content: "\e61e"; }

.dh-icon-ziyuan1:before { content: "\e622"; }

.dh-icon-resize-small:before { content: "\e623"; }

.dh-icon-resize-full:before { content: "\e624"; }

.dh-icon-dengluzhucejinggao:before { content: "\e626"; }

.dh-icon-shurukuangqingkong:before { content: "\e627"; }

.dh-icon-zhu_jiangxu:before { content: "\e62b"; }

.dh-icon-zhu_shengxu:before { content: "\e62c"; }

.dh-icon-zhu_morenpaixu:before { content: "\e62e"; }

.dh-icon-tiao_jiangxu:before { content: "\e62f"; }

.dh-icon-tiao_shengxu:before { content: "\e630"; }

.dh-icon-tiao_morenpaixu:before { content: "\e631"; }

.dh-icon-daohangfanhui:before { content: "\e632"; }

.dh-icon-sousuo:before { content: "\e633"; }
