@import './font.scss';
.dh-icon {
  font-family:"dhfont" !important;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
@each $icon in $iconList {
  $name: nth($icon, 1);
  $value: nth($icon,2);
  .dh-icon-#{$name} {
    &:before {
      content: $value;
    }
  }
}
