.dh-radio {
  display: inline-block;
  margin-right: 32px;
  color: #666;
  .dh-icon {
    font-size: 14px;
  }
  &:last-child {
    margin-right: 0;
  }
  cursor: pointer;
  i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  &.dh-radio-checked {
    i {
      color: #39b86e;
    }
  }
}
