$table-border: 1px solid #e6eaee;
$table-padding: 4px;
$table-radius: 3px;
$table-striped-odd: #fff;
$table-striped-even: #f8f9fa;
$table-header-color: #575f6d;
$table-data-color: #333c48;
$table-hover: #e6eaee;

/** default style */
$tr-height-default: 40px;

/** small style */
$tr-height-small: 30px;

/** large style */
$tr-height-large: 60px;

.dh-table {
  position: relative;
  overflow: auto;
  border: $table-border;
  border-radius: $table-radius;
  height: 100%;
  table {
    height: 100%;
    min-width: 100%;
    thead {
      height: $tr-height-default;
      line-height: $tr-height-default;
      z-index: 100;
    }
    tr {
      height: $tr-height-default;
      line-height: $tr-height-default;
      font-size: 14px;
      td, th {
        text-align: left;
        font-weight: normal;
        border-bottom: $table-border;
        padding-left: $table-padding;
        padding-right: $table-padding;
        color: $table-header-color;
        white-space: nowrap;
        position: relative;
      }
      td {
        color: $table-data-color;
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
      &:hover {
        td {
          background: $table-hover!important;
        }
      }
    }
  }
  .an-table-col-frozen {
    pointer-events: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(248, 248, 248, 0.8);
    }
  }

  &.dh-table-fixed {
    overflow-y: hidden;
    tbody {
      padding-top: $tr-height-default;
    }
  }

  &.dh-table-small {
    thead {
      height: $tr-height-small;
      line-height: $tr-height-small;
    }
    tr {
      height: $tr-height-small;
      line-height: $tr-height-small;
      font-size: 12px;
    }
    &.dh-table-fixed {
      tbody {
        padding-top: $tr-height-small;
      }
    }
  }
  &.dh-table-large {
    thead {
      height: $tr-height-large;
      line-height: $tr-height-large;
    }
    tr {
      height: $tr-height-large;
      line-height: $tr-height-large;
    }
    &.dh-table-fixed {
      tbody {
        padding-top: $tr-height-large;
      }
    }
  }

  &.dh-table-bordered {
    table {
      tr {
        td, th {
          border-right: $table-border;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  &.dh-table-striped {
    table {
      tr:nth-child(even) td, th {
        background: $table-striped-even;
      }
      tr:nth-child(odd) td {
        background: $table-striped-odd;
      }
    }
  }
}
