$table-border: 1px solid #e6eaee;
$table-padding: 4px;
$table-radius: 3px;
$table-striped-odd: #fff;
$table-striped-even: #f8f9fa;
$table-header-color: #575f6d;
$table-data-color: #333c48;
$table-hover: #e6eaee;

/** default style */
$tr-height-default: 40px;

/** small style */
$tr-height-small: 32px;

/** large style */
$tr-height-large: 60px;

.dh-sort-icon {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 18px;
  vertical-align: middle;
  .dh-sort-icon-btn {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    i {
      font-size: 12px;
      transform: scale(0.8);
      color: #aaa;
      &[role=active] {
        color: #108ee9;
      }
    }
    &[role=up] {
      top: 0;
    }
    &[role=down] {
      bottom: 0;
    }
  }
}

.dh-table {
  position: relative;
  border: $table-border;
  border-radius: $table-radius;
  height: 100%;
  overflow: auto;
  table {
    width: 100%;
    thead {
      height: $tr-height-default;
      line-height: $tr-height-default;
      th:hover {
        .dh-table-ext {
          opacity: 1;
        }
      }
    }
    tr {
      height: $tr-height-default;
      line-height: $tr-height-default;
      font-size: 14px;
      td, th {
        text-align: left;
        font-weight: normal;
        border-bottom: $table-border;
        padding-left: $table-padding;
        padding-right: $table-padding;
        color: $table-header-color;
        white-space: nowrap;
        position: relative;
      }
      td {
        color: $table-data-color;
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
      &:hover {
        td {
          background: $table-hover!important;
        }
      }
    }
  }
  .an-table-col-frozen {
    pointer-events: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(248, 248, 248, 0.8);
    }
  }

  &.dh-table-small {
    thead {
      height: $tr-height-small;
      line-height: $tr-height-small;
    }
    tr {
      height: $tr-height-small;
      line-height: $tr-height-small;
      font-size: 12px;
    }
  }
  &.dh-table-large {
    thead {
      height: $tr-height-large;
      line-height: $tr-height-large;
    }
    tr {
      height: $tr-height-large;
      line-height: $tr-height-large;
    }
  }

  &.dh-table-bordered {
    table {
      tr {
        td, th {
          border-right: $table-border;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  &.dh-table-striped {
    table {
      tr:nth-child(even) td, th {
        background: $table-striped-even;
      }
      tr:nth-child(odd) td {
        background: $table-striped-odd;
      }
    }
  }
  &-ext {
    position: absolute;
    text-align: center;
    right: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
  }
}
