$btn-padding: 0 16px;
$btn-circle-padding: 0;
$default-btn-height: 36px;
$default-btn-fontSize: 14px;

$small-btn-height: 24px;
$small-btn-fontSize: 12px;

$default-btn-color: #999999;
$default-btn-borderColor: #d9d9d9;
$default-btn-backGroundColor: #ffffff;


$success-btn-color: #ffffff;
$success-btn-borderColor: transparent;
$success-btn-backGroundColor: #23c132;

$danger-btn-color: #ffffff;
$danger-btn-borderColor: transparent;
$danger-btn-backGroundColor: #ff5a44;

$info-btn-color: #ffffff;
$info-btn-borderColor: transparent;
$info-btn-backGroundColor: #287dfb;

$warning-btn-color: #ffffff;
$warning-btn-borderColor: transparent;
$warning-btn-backGroundColor: #fcc927;

@mixin ButtonSize($height, $fontSize) {
  height: $height;
  font-size: $fontSize;
  border-radius: $height / 2;
}

@mixin ButtonTypes($color, $borderColor, $backGroundColor) {
  color: $color;
  border: 1px solid $borderColor;
  background-color: $backGroundColor;
  &.dh-btn-background-ghost {
      border: 1px solid $backGroundColor;
      background-color: transparent;
      color: $backGroundColor;
  }
}
.dh-btn {
    display: inline-block;
    padding: 0 16px;
    @include ButtonSize($default-btn-height, $default-btn-fontSize);
    @include ButtonTypes(
      $default-btn-color,
      $default-btn-borderColor,
      $default-btn-backGroundColor
    );
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    cursor: pointer;
    user-select: none;
    outline: none;
    box-sizing: border-box;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    &:hover {
      opacity: .7;
    }
    &-prefix {
      margin-right: 8px;
    }
    &-success {
      @include ButtonTypes(
        $success-btn-color,
        $success-btn-borderColor,
        $success-btn-backGroundColor
      );
    }
    &-danger {
      @include ButtonTypes(
        $danger-btn-color,
        $danger-btn-borderColor,
        $danger-btn-backGroundColor
      );
    }
    &-info {
      @include ButtonTypes(
        $info-btn-color,
        $info-btn-borderColor,
        $info-btn-backGroundColor
      );
    }
    &-warning {
      @include ButtonTypes(
        $warning-btn-color,
        $warning-btn-borderColor,
        $warning-btn-backGroundColor
      );
    }
    &-small {
      @include ButtonSize($small-btn-height, $small-btn-fontSize);
    }
    &-circle {
      height: $default-btn-height;
      width: $default-btn-height;
      padding: $btn-circle-padding;
      border-radius: 50%;
      overflow: hidden;
      &.dh-btn-small {
        height: $small-btn-height;
        width: $small-btn-height;
        font-size: $small-btn-fontSize;
      }
    }
    &-success, &-danger, &-info, &-warning, &-small, &-circle {
      &[disabled] {
        color: #ccc;
        background-color: #f6f6f6;
        border: 1px solid #e6e6e6;
        cursor: not-allowed;
        opacity: 1;
      }
    }
}
