@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content; }
}
/*--缩放--**/
@include keyframes(keyframesScale) {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
 }

/*拉伸*/
@include keyframes(keyframes_inline_start) {
  0%   { width: 0%; }
  100% { width: 100%; }
}
