@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content; }
}
/*--缩放--**/
@include keyframes(keyframesScale) {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
 }
 @mixin keyframesScale {
   -webkit-animation: keyframesScale .5s cubic-bezier(0.23, 1, 0.32, 1) 0s forwards;
   animation: keyframesScale .5s cubic-bezier(0.23, 1, 0.32, 1) 0s forwards;
 }
