html, body{
  font-family: PingFang SC, Helvetica Neue, Helvetica,STHeitiSC-Light,WOL_SB,'Segoe UI Semibold','Segoe UI',Tahoma,Helvetica,sans-serif;
}
a {
  color: #666666;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s ease;
}
ul, ol {
  list-style: none;
}

@import "./_mixin.scss";
@import "./icon/icon.scss";
@import "./button/button.scss";

@import "./dropdown/dropdown.scss";
@import "./table/table.scss";

@import "./tabs/tabs.scss";
@import './input/number.scss';
@import './input/input.scss';

@import "./message/message.scss";
@import "./tooltip/tooltip.scss";
@import "./steps/steps.scss";

@import "./pagination/pagination.scss";
@import "./radio/radio.scss";
@import "./checkbox/checkbox.scss";
@import "./select/select.scss";
@import './modal/modal.scss';
@import "./list/list.scss";
@import "./avatar/avatar.scss";
@import './menu/menu.scss';
