$li_border_color: #e6e6e6;
$ul_border_color: #e6e6e6;
.dh-list {
  background-color: #fff;
  border: 1px solid $ul_border_color;
  .dh-list-child {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    height: 64px;
    padding-left: 24px;
    &:not(:last-child) {
      border-bottom: 1px solid $li_border_color;
    }
    &:hover {
      background-color: #f6f6f6;
    }
    &[data-selected="true"] {
      background: #f6f6f6;
    }
    line-height: 1;
    &__inner {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .dh-list-child__border {
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0;
    top: 0;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: #50d27c;
  }
  &-inner {
    &__avatar {
      max-height: 32px;
      max-width: 32px;
      overflow: hidden;
    }
    &__title {
      flex: 1;
      padding-left: 12px;
      max-height: 64px;
      height: 64px;
      line-height: 64px;
      font-size: 14px;
      overflow: hidden;
    }
    &__icon {
      width: 64px;
      height: 100%;
      line-height: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .dh-list-info {
        cursor: pointer;
        font-size: 20px;
        color: #50d27c;
        height: 32px;
        width: 32px;
        text-align: center;
        line-height: 32px;
      }
    }
  }
}