$inputLength: auto; // input 高度
$inputFontSize: 12px; // input 内的字体大小
$inputLineHeight: 15px;
$inputBorderBg: #e6e6e6;
$inputColor: #333333;
$inputPlaceholderColor: #cccccc;
$inputBorderColorDefault: #39b86e;
$inputBorderColorDanger: #ff5a44;
.dh-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $inputBorderBg;
  line-height: normal;
  &-before {
    margin-right: 8px;
  }
  &-ater {
    margin-left: 8px;
  }
  &-warp {
    flex: 1;
    padding: 4px 0;
    line-height: $inputLineHeight;

    &-inner {
      height: 100%;
      width: 100%;
      font-size: $inputFontSize;
      border: none;
      background: transparent;
      outline: 0;
      color: $inputColor;
      &[disabled] {
        cursor: not-allowed;
      }
      &::-webkit-input-placeholder { /* WebKit browsers */
        color: $inputPlaceholderColor;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $inputPlaceholderColor;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $inputPlaceholderColor;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $inputPlaceholderColor;
      }
    }
  }
  &-bordered {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: $inputBorderColorDefault;
  }
  &-search {
    cursor: pointer;
    font-size: 16px;
  }
}
