$inputLength: auto; // input 高度
$inputFontSize: 12px; // input 内的字体大小
$inputBorderBg: #e6e6e6;

.dh-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $inputBorderBg;
  line-height: normal;
  &-before {
    margin-right: 8px;
  }
  &-ater {
    margin-left: 8px;
  }
  &-warp {
    flex: 1;
    padding: 4px 0;

    &-inner {
      height: 100%;
      width: 100%;
      font-size: $inputFontSize;
      border: none;
      background: transparent;
      outline: 0;
      color: #333333;
      &[disabled] {
        cursor: not-allowed;
      }
      &:focus .dh-input-bordered {
        background-color: red;
      }
    }

  }
  &-bordered {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: #39b86e;
    &-danger {
      background-color: #ff5a44;
    }
  }
  &-search {
    cursor: pointer;
    font-size: 16px;
  }
}
