
$input-number-color: #999;
$input-number-fontSize: 12px;
$input-number-pading: 4px 0;
$input-number-input-color: #999;
$input-number-border-color: #49c77d;
$input-number-handler-color: #999;
$input-number-handler-over-color: #999;
/* --- s: sass extend method -- */
.inputNumberIcon {
  font-family:"dhfont" !important;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.inputNumber {
  .dh-input-number-input {
    width: 100%;
    text-align: left;
    outline: 0;
    -moz-appearance: textfield;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    color: $input-number-input-color;
    border: 0;
    font-size: 12px;
    color: #333333;
    background: transparent;
    &[disabled] {
      cursor: not-allowed;
    }
  }
}
/* --- e: sass extend method -- */

.dh-input-number {
  position: relative;
  padding: $input-number-pading;
  width: 100%;
  cursor: text;
  color: $input-number-color;
  background-color: transparent;
  background-image: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0;
  font-size: $input-number-fontSize;
  display: inline-block;
  @extend .inputNumber;
  &:hover {
    .dh-input-number-handler-wrap {
       opacity: 1;
    }
  }
  &-handler-wrap {
    width: initial;
    background: transparent;
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 2px;
    opacity: 0;
    -webkit-transition: opacity .24s linear .1s;
    transition: opacity .24s linear .1s;

  }

  &-handler {
    cursor: pointer;
    text-align: center;
    line-height: 0;
    height: 50%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    display: block;
    width: 100%;
    color: $input-number-handler-color;
    &:hover {
      i {
        color: #666;
        font-size: 14px;
      }
    }
  }
}
